# Removing Outliers / Missing Values

In [4]:
import pandas as pd
df = pd.read_csv(C:/Users/User/Downloads/auto-mpg.csv")

In [6]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [7]:
 
for col in df.columns :
    df[col].replace('?',None,inplace=True)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [8]:
 
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

# Detect and remove outliers using percentiles - method_1

In [9]:
 
max_threshold = df['cylinders'].quantile(0.95)
min_threshold = df['cylinders'].quantile(0.95)
df[(df['cylinders']>max_threshold) | (df['cylinders']<min_threshold)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [12]:
 
df[(df['cylinders']>max_threshold) | (df['cylinders']<min_threshold)]
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

# Outliers detection using standard deviation method

In [13]:
 
df.acceleration.mean()
df.acceleration.std()
max1=df.acceleration.mean() + 3*df.acceleration.std()
min1=df.acceleration.mean() - 3*df.acceleration.std()
print("the max value is",max1)
print("the min value is",min1)

the max value is 23.841157241699317
the min value is 7.295023662823265

In [17]:
 
df[(df['acceleration']>max1) | (df['acceleration']<min1)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
299,27.2,4,141.0,71,3190,24.8,79,2,peugeot 504
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup

# Outliers detection using z=method

In [18]:
df['zscore'] = df.acceleration- df.acceleration.mean()/df.acceleration.std()
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,zscore
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,6.35466
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,5.85466
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,5.35466
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.35466
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,4.85466

In [19]:
df[(df.zscore<-3) | (df.zscore > 3)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,zscore
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,6.35466
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,5.85466
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,5.35466
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.35466
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,4.85466
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,9.95466
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.95466
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,5.95466
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,12.95466
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.75466

In [20]:
df[df['zscore'] > 3]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,zscore
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,6.35466
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,5.85466
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,5.35466
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.35466
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,4.85466
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,9.95466
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.95466
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,5.95466
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,12.95466
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.75466

# Outliers detection using IQR

In [21]:
 
Q1=df.mpg.quantile(0.25)
Q3=df.mpg.quantile(0.75)
IQR=Q3-Q1
lower=Q1 - 1.5*IQR
upper=Q3 + 1.5*IQR
df[(df.mpg<lower)|(df.mpg>lower)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,zscore
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,6.35466
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,5.85466
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,5.35466
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.35466
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,4.85466
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,9.95466
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.95466
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,5.95466
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,12.95466
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.75466

In [22]:
 
df_no_outlier = df[(df.mpg<lower) | (df.mpg>lower)]
df_no_outlier

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,zscore
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,6.35466
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,5.85466
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,5.35466
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.35466
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,4.85466
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,9.95466
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.95466
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,5.95466
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,12.95466
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.75466

In [23]:
newdf=df.dropna()
newdf

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,zscore
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,6.35466
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,5.85466
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,5.35466
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.35466
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,4.85466
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,9.95466
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.95466
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,5.95466
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,12.95466
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.75466

# observations

Missing values are found in horsepower columns and they are removed from the dataframe using dropna() method Outliers are identified using various methods and in columns mpg.cylinder,and acceleration

# Inputing standard values

In [27]:
std = df[(df['cylinders']<=max_threshold) | (df['cylinders']>=min_threshold)]
print('standard value',std)

standard value       mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name    zscore
0            70       1  chevrolet chevelle malibu   6.35466
1            70       1          buick skylark 320   5.85466
2            70       1         plymouth satellite   5.35466
3            70       1              amc rebel sst   6.35466
4            70       1                ford torino   4.85466
..          ...     ...                        ...       ...
393          82       1            ford mustang gl   9.95466
394          82       2                  vw pickup  18.95466
395          82       1              dodge rampage   5.95466
396          82       1                ford ranger  12.95466
397          82       1                 chevy s-10  13.75466

[398 rows x 10 columns]

In [28]:
df[(df['cylinders']>max_threshold) | (df['cylinders']<min_threshold)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,zscore
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii,9.35466
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster,9.85466
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet,9.85466
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick,10.35466
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510,8.85466
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,9.95466
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.95466
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,5.95466
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,12.95466
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.75466

# Observations

Outliers are imputed with standard mean value which are identified using threshold values

# capping of values

In [30]:
df['acceleration'].clip(min1,max1,inplace=True)
df[(df.acceleration>max1) | (df.acceleration<min1)]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name, zscore]
Index: []